<!DOCTYPE html>
<html lang="en">

<head>
  <%- partial('_partial/head', { siteTitle: `${page.title} - ${config.title}` }) %>
    <meta name="description" content="<%= page.description %>" />
    <meta property="og:title" content="<%= `${page.title} - ${config.title}` %>" />
    <meta property="og:description" content="<%= page.description %>" />
    <meta property="og:type" content="articles" />
    <meta property="og:url" content="<%= url_for(page.link) %>" />
    <meta property="og:image"
      content="<%= `${page.cover || url_for('/images/avatar.png')}` %>" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:width" content="1200" />
    <meta name="twitter:title" content="<%= `${page.title} - ${config.title}` %>" />
    <meta name="twitter:description" content="<%= page.description %>" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="canonical" href="<%= url_for(page.link) %>" />

    <%
      let css_list = [
        'https://cdn.jsdelivr.net/npm/photoswipe@4/dist/photoswipe.css',
        'https://cdn.jsdelivr.net/npm/photoswipe@4/dist/default-skin/default-skin.css'
      ]

      if (theme.codeHighlight.enable) css_list.push(url_for(`/lib/css/prism-${theme.codeHighlight.theme || 'atom-dark'}.css`))

      if (theme.katexRender) css_list.push('https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css')
    %>

    <%- css(css_list) %>
</head>

<body>
  <div class="antialiased flex flex-col min-h-screen" id="app" @vue:mounted="mounted">
    <%- partial('_partial/header') %>
    <div class="max-w-4xl w-full mx-auto">
      <div class="shadow-box bg-white dark:bg-gray-600 rounded-lg pt-32 px-4 md:px-8 pb-8 animated fadeIn mb-8">
        <h1 class="text-5xl font-semibold leading-normal pb-8 mb-8 border-b-8 border-gray-700">
          <%= page.title %>
        </h1>
        <% if (page.cover) { %>
          <img src="<%= page.cover %>" alt="<%= page.title %>" class="block w-full mb-8" />
          <% } %>
            <div class="mb-8 flex flex-wrap">
              <div class="text-gray-400 text-sm mr-4">
                <%= date(page.date) %> · <%- partial('_partial/_post/word-count', {post: page}) %>
              </div>
              <% if (page.tags) { %>
                <% page.tags.forEach(function(tag) { %>
                <a href="<%= url_for(tag.path) %>"
                  class="text-gray-700 text-sm border-b-2 border-dotted border-gray-200 hover:border-gray-600 transition-all duration-100 inline-flex mr-2 dark:text-gray-200">
                  <i class="ri-hashtag"></i>
                  <%= tag.name %>
                </a>
                <% }); %>
              <% } %>
            </div>
            <div class="markdown mb-8" v-pre>
              <%- page.content %>
            </div>
            <!-- Share to Twitter, Weibo, Telegram -->
            <div class="flex items-center">
              <div class="mr-4 flex items-center">
                <i class="ri-share-forward-line text-gray-500"></i>
              </div>
              <div class="px-4 cursor-pointer text-blue-500 hover:bg-blue-100 dark:hover:bg-gray-600 inline-flex rounded"
                @click="shareToTwitter">
                <i class="ri-twitter-line"></i>
              </div>
              <div class="px-4 cursor-pointer text-red-500 hover:bg-red-100 dark:hover:bg-gray-600 inline-flex rounded"
                @click="shareToWeibo">
                <i class="ri-weibo-line"></i>
              </div>
              <div class="px-4 cursor-pointer text-indigo-500 hover:bg-indigo-100 dark:hover:bg-gray-600 inline-flex rounded"
                @click="shareToTelegram">
                <i class="ri-telegram-line"></i>
              </div>
            </div>
      </div>

      <% if (theme.comment.enable) { %>
        <% if (theme.comment.platform === 'gitalk' ) { %>
          <div id="gitalk-container"></div>
        <% } %>

        <% if (theme.comment.platform === 'disqus' ) { %>
          <%- partial('_partial/disqus') %>
        <% } %>
      <% } %>

      <% if (theme.comment.platform === 'valine') { %>
        <div id="valine-comment"></div>
      <% } %>

      <%- partial('_partial/footer') %>
    </div>

    <% if(theme.toc.enable) { %>
    <!-- TOC Container -->
    <div
      class="fixed right-0 bottom-0 mb-16 mr-4 shadow w-8 h-8 rounded-full flex justify-center items-center z-10 cursor-pointer bg-white dark:bg-gray-500 dark:text-gray-200 hover:shadow-lg transition-all animated fadeInRight"
      @click="showToc = true">
      <i class="ri-file-list-line"></i>
    </div>

    <div
      class="fixed right-0 top-0 bottom-0 overflow-y-auto w-64 bg-white dark:bg-gray-800 p-4 border-l border-gray-100 dark:border-gray-600 z-10 transition-fast"
      :class="{ '-mr-64': !showToc }">
      <div class="flex mb-4 justify-end">
        <div
          class="w-8 h-8 inline-flex justify-center items-center rounded-full cursor-pointer hover:bg-gray-200 dark:hover:bg-gray-600 transition-fast"
          @click="showToc = false">
          <i class="ri-close-line text-lg"></i>
        </div>
      </div>
      <div class="post-toc-container">
        <%- shiux_toc(page.content) %>
      </div>
    </div>
    <% } %>

    <!-- Back to top -->
    <div
      class="fixed right-0 bottom-0 mb-4 mr-4 shadow w-8 h-8 rounded-full flex justify-center items-center z-10 cursor-pointer bg-white hover:shadow-lg transition-all dark:bg-gray-500 dark:text-gray-200"
      @click="backToUp" v-show="scrolled">
      <i class="ri-arrow-up-line"></i>
    </div>
  </div>

  <%- partial('_partial/photoswipe') %>

    <script type="module" src="/js/main.js"></script>

    <!-- Code Highlight -->
    <% if (theme.codeHighlight.enable) { %>
      <script src="https://cdn.jsdelivr.net/npm/prismjs@latest/prism.min.js"></script>
      <script>
        Prism.highlightAll()
      </script>
      <% } %>

      <%- 
        js([
          "https://cdn.jsdelivr.net/npm/photoswipe@4/dist/photoswipe.min.js",
          "https://cdn.jsdelivr.net/npm/photoswipe@4/dist/photoswipe-ui-default.min.js"
        ])
      %>

        <script>
          //拿到预览框架，也就是上面的html代码
          var pswpElement = document.querySelectorAll('.pswp')[0];
          //定义图片数组变量
          var imgitems;
          /**
          * 用于显示预览界面
          * @param index 图片数组下标
          */
          function viewImg(index) {
            //其它选项这里不做过多阐述，详情见官网
            var pswpoptions = {
              index: parseInt(index, 10), // 开始幻灯片索引。0是第一张幻灯片。必须是整数，而不是字符串。
              bgOpacity: 0.7, // 背景透明度，0-1
              maxSpreadZoom: 3, // 缩放级别，不要太大
            };
            //初始化并打开PhotoSwipe，pswpElement对应上面预览框架，PhotoSwipeUI_Default为皮肤，imgitems为图片数组，pswpoptions为选项
            var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, imgitems, pswpoptions);
            gallery.init()
          }
          /**
          * 用于添加图片点击事件
          * @param img 图片元素
          * @param index 所属下标（在imgitems中的位置）
          */
          function addImgClick(img, index) {
            img.onclick = function () {
              viewImg(index)
            }
          }
          /**
          * 轮询所有图片，获取src、width、height等数据，加入imgitems，并给图片元素添加事件
          * 最好在onload中执行该方法，本站因放在最底部，所以直接初始化
          * 异步加载图片可在图片元素创建完成后调用此方法
          */
          function initImg() {
            //重置图片数组
            imgitems = [];
            //查找class:markdown 下的所有img元素并遍历
            var imgs = document.querySelectorAll('.markdown img');
            for (var i = 0; i < imgs.length; i++) {
              var img = imgs[i];
              //本站相册初始为loading图片，真实图片放在data-src
              var ds = img.getAttribute("data-src");
              //创建image对象，用于获取图片宽高
              var imgtemp = new Image();
              //判断是否存在data-src
              if (ds != null && ds.length > 0) {
                imgtemp.src = ds
              } else {
                imgtemp.src = img.src
              }
              //判断是否存在缓存
              if (imgtemp.complete) {
                var imgobj = {
                  "src": imgtemp.src,
                  "w": imgtemp.width,
                  "h": imgtemp.height,
                };
                imgitems[i] = imgobj;
                addImgClick(img, i);
              } else {
                imgtemp.index = i;
                imgtemp.img = img;
                imgtemp.onload = function () {
                  var imgobj = {
                    "src": this.src,
                    "w": this.width,
                    "h": this.height,
                  };
                  //不要使用push，因为onload前后顺序会不同
                  imgitems[this.index] = imgobj
                  //添加点击事件
                  addImgClick(this.img, this.index);
                }
              }
            }
          }
          //初始化
          initImg();
        </script>
        <% if (theme.comment.enable) { %>
          <% if (theme.comment.platform === 'valine') { %>
            <%- partial('_partial/valine') %>
          <% } %>
          <% if (theme.comment.platform === 'gitalk' ) { %>
            <%- partial('_partial/gitalk') %>
          <% } %>
        <% } %>
</body>

</html>