<!DOCTYPE html>
<html lang="en">
<head>
  <%- partial('_partial/head', { siteTitle: config.title }) %>
  <meta name="description" content="<%- config.description %>" />
</head>
<body>
  <div class="antialiased flex flex-col min-h-screen" id="app" @vue:mounted="mounted">

    <%- partial('_partial/header') %>

    <div class="max-w-4xl w-full mx-auto pt-32">
      <h1 class="text-2xl font-bold pb-8 flex justify-center items-center">
        <i class="ri-hashtag"></i>
        <%= page.tag %>
      </h1>
      <div class="shadow-box bg-white dark:bg-gray-600 border-gray-300 rounded-none md:rounded-lg -mx-1 md:mx-0 md:px-0">
        <%- partial('_partial/post-list') %>  
      </div>

      <%- partial('_partial/pagination') %>
      <%- partial('_partial/footer') %>

    </div>
  </div>
  <script type="module" src="/js/main.js"></script>
</body>
</html>