<!DOCTYPE html>
<html lang="en">

<head>
  <%- partial('_partial/head', { siteTitle: config.title }) %>
    <meta name="description" content="<%- config.description %>" />
</head>

<body>
  <div class="antialiased flex flex-col min-h-screen" id="app" @vue:mounted="mounted">
    <%- partial('_partial/header') %>
      <div class="max-w-4xl w-full mx-auto pt-32">
        <div
          class="py-8 shadow-box bg-white dark:bg-gray-600 border-gray-300 rounded-none md:rounded-lg -mx-1 md:mx-0 md:px-0">
          <% site.tags.forEach((tag, index)=> { %>
            <div class="px-8 pb-5 inline-flex relative overflow-hidden">
              <a href="<%= url_for(tag.path) %>"
                class="text-gray-700 dark:text-gray-200 border-b-2 border-dotted border-gray-200 dark:border-gray-400 dark:hover:border-gray-200 hover:border-gray-600 transition-all duration-100">
                <i class="ri-hashtag"></i>
                <%= tag.name %>（<%= tag.length %>）
              </a>
            </div>
            <% }); %>
        </div>
        <%- partial('_partial/footer') %>
      </div>
  </div>
  <script type="module" src="/js/main.js"></script>
</body>

</html>